apiVersion: v1
kind: Secret
metadata:
  name: ck-postgres-secret
type: Opaque
data:
  POSTGRESQL_USERNAME: {{ .Values.credentials.username | b64enc }}
  POSTGRESQL_PASSWORD: {{ .Values.credentials.password | b64enc }}
  POSTGRESQL_DATABASE: {{ .Values.credentials.database | b64enc }} 