apiVersion: v1
kind: Service
metadata:
  name: ck-postgres
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5432
      protocol: TCP
  selector:
    app: ck-postgres 